# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Project Data (Large files)
*.parquet
data/
data_r/
*.backup
*.log
*.duckdb
*.duckdb.wal

# Node & Frontend
node_modules/
frontend/node_modules/
.npm

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# Project Specific
scratch/
.env
nomic-embed/
models/

exports/
*.zip
*.db
*.sqlite
